@import url('https://fonts.cdnfonts.com/css/qhairo');
@import url('https://fonts.cdnfonts.com/css/product-sans');


.main-headings {
    margin: 2%;
    font-family: 'Qhairo', sans-serif;
    font-weight: bold;
}

thead > tr > th {
    font-family: 'Qhairo', sans-serif;
}

tbody > tr > td {
    font-family: 'Product Sans', sans-serif;
}

input {
    font-family: 'Product Sans', sans-serif;
}
