{% extends 'base.html' %}

{% load static %}

{% block title %}Yahoo Finance historical data displayer{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1 class="main-headings">Yahoo finance historical data</h1>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control input-sm shadow-none" id="company-search-input" aria-describedby="company-search" placeholder="Search by company name and press &#x23CE;">
            </div>
        </div>
    </div>

    <br>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3 class="main-headings">Apple Inc. [AAPL]</h3>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Open</th>
                            <th scope="col">High</th>
                            <th scope="col">Low</th>
                            <th scope="col">Close*</th>
                            <th scope="col">Adj Close**</th>
                            <th scope="col">Volume</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}