{% extends 'base.html' %}

{% load static %}

{% block title %}Yahoo Finance historical data displayer{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %}

{% block body %}
    {% include 'main/modal.html' %}

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1 class="main-headings">Yahoo finance historical data</h1>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control input-sm shadow-none" id="company-search-input" aria-describedby="company-search" placeholder="Search by company name and press &#x23CE;">
            </div>
        </div>
    </div>

    <br>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3 class="main-headings" id="company-heading"></h3>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <table class="table table-striped-columns" id="historical-data-container-table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}
